/.git/
application/logs/*
!/logs/index.html
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
/nbproject/*
/application/config/production/*
/vendor/*
/upload_files/*