.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

uploads/*
!uploads/index.html

/.git/
/vendor/

# Dist files
#-------------------------
.htaccess
application/config/production/database.php
application/config/production/config.php

# Themes
#-------------------------
themes/bootstrap/node_modules/
themes/bootstrap/assets/
themes/bootstrap/npm-*

# Deploy
#-------------------------
phploy.ini

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project