/.git/
application/logs/*
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
/nbproject/*
/application/config/production/*
/vendor/*
/upload_files/*

uploads/*
!uploads/index.html

application/config/production/*
!application/config/production/config.php