{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="content">
            <article class="singlePage">
                <header>
                    <h1 class="headClass text-center">{{ page.title }}</h2>
                </header>
                <div class="text">
                    {{ page.content | raw }}
                </div>
            </article>
        </div>
        </div><!--/.content-->
    </div><!--/.container-->

{% endblock %}