{{ form_open(current_url(), 'id="toolbar-form" method="get"') }}

    <!-- table top -->
    <div class="row tableTop">

        <div class="col-xs-12 col-sm-6 col-sm-push-3">

            {% if (subnav_active == 'index') %}

                <!-- search input -->
                <div class="input-group bigInput">
                    <div class="input-group-addon">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    {{ form_input({'name': 'string', 'class': 'form-control', 'value': input.get('string')}) }}
                </div>

            {% endif %}
        </div>

        <div class="col-xs-6 col-sm-3 col-sm-pull-6">
            {% if (subnav_active == 'edit') %}

                {% include 'components/lang_select.html.twig' %}

            {% endif %}
        </div>

        <div class="col-xs-6 col-sm-3 text-right">
            {% if (subnav_active == 'index') %}

                {% include 'components/per_page_select.html.twig' %}

            {% endif %}
        </div>

    </div>

{{ form_close() }}

<!-- margin -->
<div class="clearfix baseMargin"></div>