{% macro select_categories_tree(categories, key, level, selected_id) %}

    {% for category in attribute(categories, key) %}

        {% set selected = (selected_id == category.news_category_id) ? ' selected' : '' %}

        <option value="{{ category.news_category_id }}"{{ selected }}>
            {% if level > 0 %}

                {% for i in 1..level %}--{% endfor %}

            {% endif %}
            {{ category.name }}
        </option>

        {% if attribute(categories, category.news_category_id) %}

            {{ _self.select_categories_tree(categories, category.news_category_id, level + 1, selected_id) }}

        {% endif %}

    {% endfor %}

{% endmacro %}