<label for="fil_per_page">{{ lang('components.per_page') }}</label>

{{ form_dropdown('per_page', {'2': 2, '10': 10, '20': 20, '50': 50}, input.get.per_page, 'id="fil_per_page" class="form-control"') }}