<!-- table top -->
<div class="row tableTop">

    <div class="col-xs-12 col-sm-6 col-sm-push-3">

        <!-- search input -->
        {{ form_open(current_url(), 'method="get"') }}

            <div class="input-group bigInput">
                <div class="input-group-addon">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                {{ form_input({'name': 'string', 'class': 'form-control', 'value': input.get('string')}) }}
            </div>

        {{ form_close() }}

    </div>

    <div class="col-xs-6 col-sm-3 col-sm-pull-6">
    </div>

    <div class="col-xs-6 col-sm-3 text-right">
        {% include 'components/per_page_select.html.twig' %}
    </div>

</div>

<!-- margin -->
<div class="clearfix baseMargin"></div>