{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
        <div class="content">
            <div class="homepageLogo text-center">
                <img src="{{ asset('img/nu-logo-color.png') }}" alt="nu">
            </div><!--/.homepageLogo-->

            <div class="homepageText">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lorem ex, facilisis in magna sed, egestas lacinia neque. Aliquam pretium magna ac orci mollis, et elementum nibh tincidunt. Fusce vel nisi a tellus dignissim luctus ut id nibh. Phasellus auctor libero in eros pharetra finibus quis at arcu. In tempus sem diam, sit amet volutpat purus consequat sed. Nullam in orci gravida, dapibus odio sed, eleifend enim. Sed massa augue, ullamcorper sit amet tortor a, volutpat ultrices risus. Nunc ac nisi non dui ultricies consequat a at mauris.</p>
                <p>Nunc mattis vitae magna vel feugiat. Fusce dolor augue, cursus et erat non, maximus bibendum ipsum. Morbi sit amet aliquet nibh. Nullam quis feugiat eros, vel ornare justo. Ut elementum urna eget nibh ultricies commodo. Pellentesque bibendum suscipit tincidunt. Nullam lorem est, convallis eu cursus eget, mattis eu est. Maecenas a posuere lorem. Vestibulum egestas vulputate quam at eleifend. Donec venenatis turpis a felis porttitor dictum non in augue. Proin consectetur sapien mauris, eu ornare enim semper quis. Cras ullamcorper mauris vitae est pretium porta. Cras ut turpis nisi.</p>
            </div><!--/.homepageText-->

            <section id="homepageBoxes">
                <h2 class="headClass text-center">What we offer ?</h2>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="circle">
                                <span class="ico"><i class="fa fa-paint-brush"></i></span>
                            </div>
                            <div class="head">
                                <h3 class="headClass medium">Unique graphic designs</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="circle">
                                <span class="ico"><i class="fa fa-code"></i></span>
                            </div>
                            <div class="head">
                                <h3 class="headClass medium">Clean and optimized code</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box">
                            <div class="circle">
                                <span class="ico"><i class="fa fa-pencil"></i></span>
                            </div>
                            <div class="head">
                                <h3 class="headClass medium">Professional and easy CMS system</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#homepageBoxes-->

        </div><!--/.content-->
    </div><!--/.container-->

{% endblock %}