{% extends 'block/types/block_base.html.twig' %}

{% block content %}

    <div class="col-xs-12">

        {{ form_textarea({'name': 'content[content]', 'value': block.content.content, 'class': 'form-control big'}) }}

    </div>

{% endblock %}