<html>
    <!-- head: meta, title, style etc -->
    {{>_head}}
<body>

    <!-- hero -->
    {{>index/hero}}

    <!-- scripts and everything else that need to be at the end -->
    {{>_foot}}
</body>
</html>
