<div class="col-xs-12">

    {{ form_textarea({'name': 'content[content]', 'value': block.content.content, 'class': 'form-control tinyEditor textareaBig'}) }}

</div>
    
{% include('components/tiny_mce.html.twig') %}