<!-- dropdown actions -->
<span class="txtUpper">{{ lang('text.language') }}:</span>
<span class="btn-group nuDropdown">
    <span data-toggle="dropdown" class="txtBig hoverLine">{{ lang('language.polish') }} <i class="fa fa-angle-down"></i></span>
    <ul class="dropdown-menu">
        <li><a href="#">{{ lang('language.polish') }}</a></li>
    </ul>
</span>