<!-- subnav -->
<div class="container-fluid nuSubnav">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li>
                    <a href="{{ admin_url('setting') }}" {{ subnav_active == 'index' ? 'class="active"' : '' }}>{{ lang('setting.subnav.index') }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>