{{ form_open(current_url(), 'id="toolbar-form" method="get"') }}

    <!-- table top -->
    <div class="row tableTop">

        <div class="col-xs-12 col-sm-6 col-sm-push-3">
        </div>

        <div class="col-xs-6 col-sm-3 col-sm-pull-6">
            {% include 'components/lang_select.html.twig' %}
        </div>

    </div>

{{ form_close() }}

<!-- margin -->
<div class="clearfix baseMargin"></div>