{% set style = (settings.style) ? ' style="'~settings.style~'"' : '' %}
{% set id = (settings.id) ? ' id="'~settings.id~'"' : '' %}
{% set class = (settings.class) ? ' class="'~settings.class~'"' : '' %}

<div class="nuBlock nuBlock-gallery">
    <div{{ style | raw }}{{ id }}{{ class }}>
        {% for photo in block.content.photos %}

            <figure>
                {{ generate_thumbnail(attribute(block.files, photo.file_id).filename, photo.size, photo.alt, photo.title) | raw }}
            </figure>

        {% endfor %}
    </div>
</div>